body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  header {
    position: relative; /**/
    background-color: #dfdfdf;
    padding: 60px;
    color: #fff;
  }
  
  h1 {
    font-family: 'Lobster', cursive;
    font-size: 95px;
    color: rgb(6, 62, 95);
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 3px  0px 0px white;
               /*0px  3px 0px black,
              -3px  0px 0px black,
               0px -3px 0px black;*/
}
.subtitulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color:rgb(112, 12, 12);
     font-size: 30px;
     position: absolute;
     top: 140px;
     left: 50%;
     transform: translate(-50%, -50%);
}

  /*
  .titulo {
    position: relative; 
    z-index: 1; 
    display: flex;
    align-items: center;
  }
  
  .titulo h1 {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 5px 10px; 
    margin-right: 20px;
  }
  
  .titulo img {
    position: absolute; 
    top: 0; /
    left: 0; 
    width: 100%; 
    height: auto; 
    z-index: 0; 
  }*/
/*
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }*/

  nav{
    height: 1px;
    float: center;
    word-spacing: 10%;
    text-align: center;
}
nav ul{
  padding-right: 80%;
    overflow: hidden; 
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul li{
    float: left;
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 20px;
    text-align: center;
    width: 10em;
}
nav ul li a {
    display: block; 
    padding: 10px;
    color: #000000;
    text-decoration: none;
  }
  nav ul li:hover {
    background: #eca023;
  }
  nav ul li:hover {
    background: #eca023;
  }

  
  .redes-sociales {
    margin-top: 10px;
    padding-left: 65%;
  }
  
  .redes-sociales img {
    width: 25px;
    padding-right: 10px;
  }
  
  .buscador {
    
    padding-left: 83%;
    padding-bottom: 20px;
  }
  
  .buscador input[type="text"] {
    padding-left: 5px;
    
  }
  
  .buscador input[type="submit"] {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    
  }
  
  /*---------------------------------------- FORMULARIO ---------------------------------------*/
  section {
    max-width: 600px;
    /*margin: 20px auto;*/
    margin-top: 30%;
    margin-left: 33%;
    background-color: #fff;
    padding: 20px;
  }
  
  section h2 {
    margin-top: 0;
  }
  
  section input[type="text"],
  section input[type="email"],
  section textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  section input[type="submit"] {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /*---------------------------------------- PIE DE PAGINA ---------------------------------------*/

  footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
    display: flex; /* Agrega esta línea */
    justify-content: space-between; /* Agrega esta línea */
    align-items: center; /* Agrega esta línea */
    margin-top: 10%;
  }
  
  .contacto ul {
    list-style: none;
    padding: 0;
  }
  
  .contacto ul li {
    margin-bottom: 10px;
  }
  
  .redes-sociales-footer ul {
    list-style: none;
    padding: 0;
    display: flex; /* Agrega esta línea */
    justify-content: center; /* Agrega esta línea */
  }
  
  .redes-sociales-footer ul li {
    margin: 0 5px; /* Ajusta los márgenes según desees */
  }
  
  .redes-sociales-footer ul li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
  

  